// 引入主题变量
@import '../../styles/global.scss';

.#{$globa-prefix}-multiButton {
  &:hover {
    background: #f0f1f4;
    &{
      background: hsla(228, 16%, 95%, 1);

      div {
        display: block;
        animation: tooltip-animation-normal 0.3s ease-out forwards;
      }

      div.animate-right {
        animation: tooltip-animation-right 0.3s ease-out forwards;
      }

      div.animate-left {
        animation: tooltip-animation-left 0.3s ease-out forwards;
      }
    }
  }

  & :active {}

  &-tooltip {
    position: absolute;
    top: -43px;
    left: calc(50% - 40px);
    width: 80px;
    font-size: 13px;
    color: #fff;
    background: hsla(221, 27%, 11%, 0.7);
    border-radius: 16px;
    line-height: 30px;
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0 0 5px hsla(221, 27%, 21%, 0.3), 1px 1px 5px hsla(221, 27%, 21%, 0.2);
    display: none;
    cursor: pointer;

    &:active {
      outline: none;
      background: hsla(228, 16%, 86%, 1);
    }

  }

}

.#{$globa-prefix}-multiButton>* {}

.#{$globa-prefix}-multiButton--primary {}

.#{$globa-prefix}-multiButton--danger {
  filter: hue-rotate(155deg);

  &:hover {
    filter: hue-rotate(155deg) saturate(1.5);
  }

  &:active {
    filter: hue-rotate(155deg) saturate(1.7);
  }
}

.#{$globa-prefix}-multiButton--success {
  filter: hue-rotate(255deg) saturate(.8);
  ;

  &:hover {
    filter: hue-rotate(255deg) saturate(1);
  }

  &:active {
    filter: hue-rotate(255deg) saturate(1.2);
  }
}

@keyframes tooltip-animation-right {
  0% {
    transform: translateX(-75px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes tooltip-animation-left {
  0% {
    transform: translateX(75px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes tooltip-animation-normal {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}