// 引入主题变量
@import '../../styles/global.scss';

.#{$globa-prefix}-swiper {}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 18px!important;
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}