// 引入主题变量
@import '../../styles/global.scss';

.#{$globa-prefix}-noble-card {
    &__wrap {
        display: flex;
        flex: 0 0 auto;
        width: 100%;
        flex-direction: column-reverse;
    }

    &__info {
 

    }
}