// 引入主题变量
@import '../../styles/global.scss';

.#{$globa-prefix}-drawer {
    --aux-drawer-bg-color: #ffffff;
    --aux-drawer-padding-primary: 20px;
    --aux-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
    position: fixed;
    box-sizing: border-box;
    background-color: var(--aux-drawer-bg-color);
    display: flex;
    flex-direction: column;
    box-shadow: var(--aux-box-shadow-dark);
    overflow: hidden;
    transition: all var(--aux-transition-duration);
    header{
        display: flex;
        justify-content: space-between;
        &>:first-child{
            padding-left: 10px;
            line-height: 100%;
            display: flex;
            align-items: center;
            h1{
                font-weight: 600;
            }
        }
        &>:last-child{
            // padding-right: 10px;
        }
        box-shadow: 1px 1px #eae8e4;
    }
    &__button{
        box-shadow: -1px 1px #eae8e4;
        height: 60px;
        width: 60px;

       &--close{
        transition: .3s cubic-bezier(.39,.575,.565,1);
        &:hover{
            background-color: #eae8e4;
            box-shadow: -1px 1px #eae8e4;
        }

       } 
    }
 
    &.top{
        top:0;
    }
    &.bottom{
        bottom: 0;
    }

    &.right {
        right: 0
    }

    &.right,
    &.left {
        height: 100%;
        top: 0;
        bottom: 0;
    }

}


.drawer-fly {
    &-right-enter-active {
        transition: all 0.3s cubic-bezier(0.16, 0.75, 0.5, 1);
    }

    &-right-leave-active {
        transition: all 0.3s cubic-bezier(0.5, 0, 0.84, 0.25);
    }

    &-right-enter-from,
    &-right-leave-to {
        opacity: 0;
        transform: translateX(100%);
    }

    

    &-top-enter-active {
        transition: all 0.3s cubic-bezier(0.16, 0.75, 0.5, 1);
    }

    &-top-leave-active {
        transition: all 0.3s cubic-bezier(0.5, 0, 0.84, 0.25);
    }
    &-top-enter-from,
    &-top-leave-to {
        opacity: 0;
        transform: translateY(-100%);
    }


    &-bottom-enter-active {
        transition: all 0.3s cubic-bezier(0.16, 0.75, 0.5, 1);
    }

    &-bottom-leave-active {
        transition: all 0.3s cubic-bezier(0.5, 0, 0.84, 0.25);
    }

    &-bottom-enter-from,
    &-bottom-leave-to {
        opacity: 0;
        transform: translateY(100%);
    }



    &-left-enter-active {
        transition: all 0.3s cubic-bezier(0.16, 0.75, 0.5, 1);
    }

    &-left-leave-active {
        transition: all 0.3s cubic-bezier(0.5, 0, 0.84, 0.25);
    }

    &-left-enter-from,
    &-left-leave-to {
        opacity: 0;
        transform: translateX(-100%);
    }
}