// 引入主题变量
@import '../../styles/global.scss';

.#{$globa-prefix}-noble-button {
  
    margin: 5px;
    padding: 10px 24px 13px;
    font-style: normal;
    white-space: nowrap;
    color: var(--aux-nb-text-color,#fff);
    transition: border .3s cubic-bezier(.39,.575,.565,1),box-shadow .3s cubic-bezier(.39,.575,.565,1),color .3s cubic-bezier(.39,.575,.565,1),background .3s cubic-bezier(.39,.575,.565,1),box-shadow .3s cubic-bezier(.39,.575,.565,1);
    --aux-nb-text-color:var(--aux-text-color);
    --aux-nb-bg-color:var(--aux-text-contrast-color);
    --aux-ng-border:var(--aux-border);
    --aux-nb-hover-bg-color:var(--aux-hover-bg-color);
    --aux-nb-hover-text-color:var(--aux-hover-text-color);
    --aux-nb-hover-border:var(aux-hover-border);
    &.#{$globa-prefix}--underline span {
        background-image: linear-gradient(var(--aux-nb-text-color,#fff),var(--aux-nb-text-color,#fff))!important
    }
    &--default{
        background: none;
        border: 0;
        box-shadow: inset 0 0 0 1px var(--aux-nb-text-color,#fff);
        &.enabled:hover{
            box-shadow: inset 0 0 0 2px var(--aux-nb-text-color,#fff);
            cursor: pointer;
        }
        &.disabled{
            cursor: not-allowed;
        }
    }
    &--fill{
        color: var(--aux-nb-text-color);
        background: var(--aux-nb-bg-color);
        border: var(--aux-ng-border);
        &.enabled:hover{
            background-color: var(--aux-nb-hover-bg-color);
            color:var( --aux-nb-hover-text-color) ;
            cursor: pointer;
            border:var(--aux-nb-hover-border)
        }
        &.disabled{
            cursor: not-allowed;
        }
        &.primary{    
            --aux-nb-text-color:var(--aux-text-primary-color);
            --aux-nb-bg-color:var(--aux-text-contrast-primary-color);
            --aux-ng-border:var(--aux-primary-border);
            --aux-nb-font-weight:var(--aux-text-weight);   
            --aux-nb-hover-bg-color:var(--aux-hover-primary-bg-color);
            --aux-nb-hover-text-color:var(--aux-hover-primary-text-color);   
            --aux-nb-hover-border:var(--aux-hover-primary-border) ;             
        }
        &.confirm{
            --aux-nb-text-color:var(--aux-text-confirm-color);
            --aux-nb-bg-color:var(--aux-text-contrast-confirm-color);
            --aux-ng-border:var(--aux-confirm-border);
            --aux-nb-font-weight:var(--aux-text-weight);
            --aux-nb-hover-bg-color:var(--aux-text-confirm-color);
            --aux-nb-hover-text-color:var(--aux-text-contrast-confirm-color); 
            --aux-nb-hover-border:var(--aux-hover-confirm-border) ;  
               
        }
        &.success{
            --aux-nb-text-color:var(--aux-text-success-color);
            --aux-nb-bg-color:var(--aux-text-contrast-success-color);
            --aux-ng-border:var(--aux-success-border);
            --aux-nb-font-weight:var(--aux-text-weight);
            --aux-nb-hover-bg-color:var(--aux-text-contrast-success-color);
            --aux-nb-hover-text-color:var(--aux-text-success-color);  
            --aux-nb-hover-border:var(--aux-hover-success-border) ;  
                 
        }
    }
    &--circle{
        border-radius: 50%;
        height: 47px;
        width: 47px;
    }
    &--round {
        border-radius: 25px;
    }

    &--center {
        text-align: center;      
        display: flex;
        align-items: center;
        justify-content: center;
    }


}