// 引入主题变量
@import '../../styles/global.scss';

.#{$globa-prefix}-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--devui-shadow, rgba(37, 43, 58, .2));

  &__fade {

    @mixin nav-overlay-fade-animation {
      animation-name: nav-overlay-fade;
      animation-duration: 0.3s;
    }

    @keyframes nav-overlay-fade {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    &-enter {
      opacity: 0;
    }

    &-enter-active {
      @include nav-overlay-fade-animation;
    }

    &-leave {
      opacity: 1;
    }

    &-leave-active {
      @include nav-overlay-fade-animation;

      animation-direction: reverse;
    }


  }

  //
}