// 引入主题变量
@import '../../styles/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.#{$globa-prefix}-torchButton {
  

    &:hover {
     

    }

   

    &:active {}





}

.#{$globa-prefix}-torchButton--primary {}

.#{$globa-prefix}-torchButton--danger {
    filter: hue-rotate(155deg);

    &:hover {
        filter: hue-rotate(155deg) saturate(1.5);
    }

    &:active {
        filter: hue-rotate(155deg) saturate(1.7);
    }
}

.#{$globa-prefix}-torchButton--success {
    filter: hue-rotate(255deg) saturate(.8);
    ;

    &:hover {
        filter: hue-rotate(255deg) saturate(1);
    }

    &:active {
        filter: hue-rotate(255deg) saturate(1.2);
    }
}