@use './font.scss';
@use './icon.scss';
@use './wise-ui.scss';


$globa-prefix: aux;

:root {
  --aux-shadow: rgba(0, 0, 0, .5) // Fonts As per the type scale generator => https://material-io.cn/inline-tools/typography/
    --fontBig: 7em; //88 px
  --fontxxxl: 5.5em; //88 px
  --fontxxl: 3.4375em; //55 px
  --fontxl: 2.75em; //44 px
  --fontlg: 1.9375em; //31 px
  --fontmd: 1.375em; //22 px
  --fontsm: 1.125em; //18 px
  --fontxs: 1em; //16 px
  --fontxxs: 0.75em; //12 px
  --aux-border-color-lighter:#eee;


  --aux-text-color:#fff;
  --aux-text-contrast-color:#000;
  --aux-border:var(--aux-text-contrast-color);
  --aux-text-weight:400;
  --aux-hover-text-color:#000;
  --aux-hover-bg-color:#eae8e4;
  --aux-hover-border:var(--aux-text-color);

  --aux-text-primary-color:#fff;
  --aux-text-contrast-primary-color:#000;
  --aux-primary-border:0.0625rem solid var(--aux-text-contrast-primary-color);
  --aux-hover-primary-text-color:#000;
  --aux-hover-primary-bg-color:#eae8e4;
  --aux-hover-primary-border:0.0625rem solid var(--aux-text-primary-color);
  --aux-active-primary-text-color:#529b2e;
  --aux-active-primary-bg-color:#95d475;
  
  --aux-text-success-color: #fff;
  --aux-text-contrast-success-color:#18ad19;
  --aux-success-border:0.0625rem solid var(--aux-text-contrast-success-color);
  --aux-hover-success-text-color:#ffffff;
  --aux-hover-success-bg-color:#95d475;
  --aux-hover-success-border:0.0625rem solid var(--aux-text-contrast-success-color);
  --aux-active-success-text-color:#529b2e;
  --aux-active-success-bg-color:#95d475;

  --aux-text-confirm-color: var(--aux-text-contrast-color);
  --aux-text-contrast-confirm-color:var(--aux-text-color);
  --aux-confirm-border:0.0625rem solid var(--aux-text-color);
  --aux-hover-confirm-text-color:var(--aux-text-contrast-color);
  --aux-hover-confirm-bg-color:var(--aux-text-color);
  --aux-hover-confirm-border:0.0625rem solid var(--aux-text-contrast-color);
  --aux-active-confirm-text-color:#529b2e;
  --aux-active-confirm-bg-color:#95d475;
  

  --aux-not-allowed-color:#666666;
  --aux-fill-color-blank:#fff;
  --aux-transition-duration:.3s;

// wise


  // Colors
  --dark: #000000;
  --grey: #666666;
  --greyLight: #979797;
  --offWhite: #eeeeee;
  --white: #ffffff;
  --blue: #0071e3;
  --blueRgba: "0, 113, 227";
  --black: #000000;
  --primary:#409eff;
  --success:#67c23a;
  --warning:#e6a23c;
  --danger:#f56c6c;
  --error: #f56c6c;
  --info:#909399;

  //fonts
  --fontL: "Source Sans Pro light";
  --fontR: "Source Sans Pro";

  // gradient
  --gradient: #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%;

}


.#{$globa-prefix}--underline {
  span {
    background-image: linear-gradient(#19110b, #19110b);
    background-size: 0 1px;
    background-repeat: no-repeat;
    transition: background-size .3s cubic-bezier(.39, .575, .565, 1);
    background-position: 0 100%;
  }

  &:hover {
    span {
      background-size: 100% 1px;
    }

  }
}